<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Index</title>
</head>
<body><br><br><br><br><br><br>
    <div class="container">
        <h1>Upload Image</h1>
        <form action="/" method="POST" enctype="multipart/form-data">
          <div class="input-field">
                <label for="image" class="btn">CHOOSE FILE</label><br><br>
                <span id="path"></span>
                <input name="image" id="image" onchange="myFun(this.value);" style="width: 0; visibility:hidden;" type="file">
          </div><br><br>
          </a><button type="submit" disabled id="submit">Submit</button>
        </form>
        <a href="/thumbnails"><button>View all</button>
    </div>
</body>
</html>

<script>
    myFun = (val) => {
        document.getElementById('path').innerHTML = val
        var check = val.split('.')
        check = check[check.length-1]
        console.log(check)
        if(check === 'png' || check === 'jpg' || check === 'jpeg' || check === 'gif')
            document.getElementById('submit').removeAttribute('disabled')
        else
            document.getElementById('submit').setAttribute('disabled', true)
    }


</script>